.product {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  z-index: 1;
  transition: transform 100ms ease-in;
  text-decoration: none;
  text-decoration-style: none;
}
.product:hover {
  transform: scale(1.07);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product__rating {
  display: flex;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #cec5af;
  color: #111;
  cursor: pointer;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}
